*{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, Tahoma, Sans-Serif;
	font-size: 9pt;
}

a{
	text-decoration: none;
	color: gray;
	font-weight: bold;
}

h2{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	background-color: #FCC505;
	padding: 7px;
	border: 1px solid #000000;
}

#container{
	width: 1000px;
	background: linear-gradient(to right, #000000, #373737, #000000);
	padding-bottom: 20px;
}

#header{
	background: linear-gradient(#ededed, #ffffff);
}
	#header img{
		display: inline-block;
		width: 357px;
		vertical-align: top;
	}
	#header h1{
		display: inline-block;
		font-size: 14pt;
		text-align: right;
		width: 605px;
		margin-top: 25px;
		text-transform: uppercase;
	}

	#header ul{
		height: 50px;
		margin-top: 5px;
		border-top: 1px solid gray;
	}

	#header li{
		display: inline;
		border-right: 1px solid gray;
		padding: 0px 10px;
		text-transform: uppercase;
	}

	#header li:first-child{
		border-left: 1px solid gray;
		margin-left: 40px;
	}

#middle{
}
	.main_pic{
		border: 3px solid #ffffff;
		margin: 15px 10px 0px 35px;
		display: inline-block;
		vertical-align: top;
	}

	.about_ppc{
		display: inline-block;
		vertical-align: top;
		background: linear-gradient(to right, #757575, #767676, #373737);
		margin: 15px 35px 0px 0px;
		width: 533px;
		height: 261px;
	}

	#middle h3{
		color: #ffffff;
		font-weight: bold;
		font-size: 9pt;
		padding: 15px 10px 0px 20px;
	}

	.about_text{
		color: #ffffff;
		padding: 15px 10px 0px 20px;
	}

	.logo_small{
		display: inline-block;
		vertical-align: top;
		height: 15px;
		margin: 10px 15px 10px 45px;
		border-radius: 5px;
	}

	.small_text{
		display: inline-block;
		vertical-align: middle;
		color: #FCC505;
		margin-top: 11px;
	}

#bottom{
	background-color: transparent;
	margin-left: 35px;
}

	#bottom div{
		display: inline-block;
		vertical-align: top;
		background-color: #ffffff;
		width: 224px;
		margin-right: 8px;
	}

	#bottom img{
		width: 222px;
		border-left: 1px solid black;
		border-right: 1px solid black;
		display: inline-block;
		vertical-align: top;
	}

	#bottom p{
		display: inline-block;
		vertical-align: top;
		color: #000000;
		font-size: 8pt;
		padding: 20px;
	}

	#bottom input{
		background-color: #FCC505;
		border: 2px solid black;
		padding: 5px 15px;
		border-radius: 5px;
		margin: 0px 0px 20px 105px;
	}